<div class="block">

<h1>{{ title }}</h1>

<p><a href="{{ link }}"> Link naar WCAG Quickref</a></p>
</div>
<div class="block">
<h2>Discussies</h2>

{%- for discussie in collections[ number ] -%}
<ul>
  <li><a href="#{{ discussie.data.title | slugify | url }}" hreflang="en">{{ discussie.data.title }}</a></li>
</ul>

{%- endfor -%}

</div>

<div class="block">

{%- for discussie in collections[ number ] -%}

  <h3 id="{{ discussie.data.title | slugify | url }}"> {{ discussie.data.title }}</h3>
  {{ discussie.templateContent | safe }}

{%- endfor -%}
</div>



