{# successcriteria.jnk #}
{# Lists all success criteria #}
<div class="block">

	<h2>Succescriteria</h2>

	<div>

	    <ul class="list list--scs">
	    {% for successcriterion in collections.successcriterion %}
	      {% set discs = 0 %}
	      {%- for discussie in collections[ successcriterion.data.number ] -%}
	        {% set discs = discs + 1 %}
	      {% endfor %}
				{%- if discs > 0 -%}
	        <li><a href="{{ successcriterion.url | url }}">{{ successcriterion.data.title }}</a>, discussies: {{ discs }}</li>
				{%- endif -%}
	    {% endfor %}
	    </ul>

	</div>

</div>
