---
title: 1.2.3 Audiodescriptie of media-alternatief (vooraf opgenomen) (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#audio-description-or-media-alternative-prerecorded
tags: successcriterion
number: 1.2.3
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}
