---
title: 1.3.3 Zintuiglijke eigenschappen (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#sensory-characteristics
tags: successcriterion
number: sc010303
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

