---
title: 1.4.4 Herschalen van tekst (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#resize-text
tags: successcriterion
number: sc010404
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

