---
title: 1.4.1 Gebruik van kleur (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#use-of-color
tags: successcriterion
number: sc010401
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

