---
title: 1.2.4 Ondertitels voor doven en slechthorenden (live) (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#captions-live
tags: successcriterion
number: sc010204
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}
