---
title: 1.1.1 Niet-tekstuele content (Niveau A)
layout: base.njk
link: https://www.w3.org/WAI/WCAG21/quickref/#non-text-content
tags: successcriterion
number: 1.1.1
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

