---
title: 1.3.5 Identificeer het doel van de input (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#identify-input-purpose
tags: successcriterion
number: 1.3.5
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

