---
title: 1.4.5 Afbeeldingen van tekst (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#images-of-text
tags: successcriterion
number: 1.4.5
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

