---
title: 1.4.2 Geluidsbediening (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#audio-control
tags: successcriterion
number: sc010402
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

