---
title: 1.4.13 Content bij hover of focus (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#content-on-hover-or-focus
tags: successcriterion
number: sc010413
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

