---
title: 1.4.2 Geluidsbediening (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#audio-control
tags: successcriterion
number: 1.4.2
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

