---
title: 1.3.4 Weergavestand (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#orientation
tags: successcriterion
number: sc010304
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

