---
title: 1.2.1 Louter-geluid en louter-videobeeld (vooraf opgenomen) (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#audio-only-and-video-only-prerecorded
tags: successcriterion
number: sc010201
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}
