---
title: 1.2.5 Audiodescriptie (vooraf opgenomen) (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#audio-description-prerecorded
tags: successcriterion
number: sc010205
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}
