---
title: 1.4.11 Contrast van niet-tekstuele content (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#non-text-contrast
tags: successcriterion
number: 1.4.11
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

