---
title: 1.4.3 Contrast (minimum) (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#contrast-minimum
tags: successcriterion
number: sc010403
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

