---
title: 1.4.5 Afbeeldingen van tekst (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#images-of-text
tags: successcriterion
number: sc010405
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

