---
title: 2.4.2 Paginatitel (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#page-titled
tags: successcriterion
number: sc020402
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

