---
title: 2.2.1 Timing aanpasbaar (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#timing-adjustable
tags: successcriterion
number: sc020201
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

