---
title: 2.4.4 Linkdoel (in context) (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#link-purpose-in-context
tags: successcriterion
number: sc020404
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

