---
title: 2.1.4 Enkel teken sneltoetsen (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#character-key-shortcuts
tags: successcriterion
number: 2.1.4
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

