---
title: 2.3.1 Drie flitsen of beneden drempelwaarde (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#three-flashes-or-below-threshold
tags: successcriterion
number: sc020301
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

