---
title: 2.5.3 Label in naam (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#label-in-name
tags: successcriterion
number: 2.5.3
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

