---
title: 2.5.4 Bewegingsactivering (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#motion-actuation
tags: successcriterion
number: sc020504
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

