---
title: 2.3.1 Drie flitsen of beneden drempelwaarde (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#three-flashes-or-below-threshold
tags: successcriterion
number: 2.3.1
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

