---
title: 2.4.11 Focus Appearance (Minimum) (AA) WCAG 2.2
layout: base.njk
link: https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/#2411-focus-appearance-minimum-aa
tags: successcriterion
number: 2.4.11
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

