---
title: 2.4.13 Page Break Navigation (A) (WCAG 2.2)
layout: base.njk
link: https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/#2413-page-break-navigation-a
tags: successcriterion
number: sc020413
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

