---
title: 2.4.5 Meerdere manieren (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#multiple-ways
tags: successcriterion
number: sc020405
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

