---
title: 2.4.5 Meerdere manieren (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#multiple-ways
tags: successcriterion
number: 2.4.5
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

