---
title: 2.4.7 Focus zichtbaar (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#focus-visible
tags: successcriterion
number: sc020407
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

