---
title: 2.5.3 Label in naam (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#label-in-name
tags: successcriterion
number: sc020503
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

