---
title: 2.2.2 Pauzeren, stoppen, verbergen (Niveau A)
layout: base.njk
link: https://www.w3.org/WAI/WCAG21/quickref/#pause-stop-hide
tags: successcriterion
number: sc020202
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

