---
title: 2.4.1 Blokken omzeilen (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#bypass-blocks
tags: successcriterion
number: 2.4.1
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

