---
title: 2.5.7 Dragging Movements (AA) (WCAG 2.2)
layout: base.njk
link: https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/#257-dragging-movements-aa
tags: successcriterion
number: sc020507
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

