---
title: 2.2.2 Pauzeren, stoppen, verbergen (Niveau A)
layout: base.njk
link: https://www.w3.org/WAI/WCAG21/quickref/#pause-stop-hide
tags: successcriterion
number: 2.2.2
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

