---
title: 3.3.2 Labels of instructies (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#labels-or-instructions
tags: successcriterion
number: sc030302
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

