---
title: 3.3.4 Foutpreventie (wettelijk, financieel, gegevens) (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#error-prevention-legal-financial-data
tags: successcriterion
number: 3.3.4
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

