---
title: 3.3.7 Accessible Authentication (Niveau A) (WCAG 2.2)
layout: base.njk
link: https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/#337-accessible-authentication-a
tags: successcriterion
number: 3.3.7
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

