---
title: 3.3.1 Foutidentificatie (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#error-identification
tags: successcriterion
number: 3.3.1
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

