---
title: 3.1.2 Taal van onderdelen (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#language-of-parts
tags: successcriterion
number: sc030102
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

