---
title: 3.3.8 Redundant Entry (A) (Niveau A)  (WCAG 2.2)
layout: base.njk
link: https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/#338-redundant-entry-a
tags: successcriterion
number: sc030308
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

