---
title: 3.2.6 Consistent Help (Niveau A) (WCAG 2.2)
layout: base.njk
link: https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/#326-consistent-help-a
tags: successcriterion
number: 3.2.6
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

