---
title: 3.2.7 Visible Controls (AA) (Niveau AA) (WCAG 2.2)
layout: base.njk
link: https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/#327-visible-controls-aa
tags: successcriterion
number: 3.2.7
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

