---
title: 3.2.3 Consistente navigatie (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#consistent-navigation
tags: successcriterion
number: sc030203
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

