---
title: 3.2.4 Consistente identificatie (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#consistent-identification
tags: successcriterion
number: 3.2.4
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

