---
title: 3.2.2 Bij input (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#on-input
tags: successcriterion
number: sc030202
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

