---
title: 3.3.4 Foutpreventie (wettelijk, financieel, gegevens) (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#error-prevention-legal-financial-data
tags: successcriterion
number: sc030304
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

