---
title: 3.1.1 Taal van de pagina (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#language-of-page
tags: successcriterion
number: 3.1.1
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

