---
title: 4.1.3 Statusberichten (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#status-messages
tags: successcriterion
number: sc040103
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

