---
title: 4.1.2 Naam, rol, waarde (Niveau A)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#name-role-value
tags: successcriterion
number: sc040102
permalink: sc/{{ number }}.html
---

{% include "discussions.njk" %}

