---
title: 4.1.3 Statusberichten (Niveau AA)
layout: base.njk
link: http://www.w3.org/WAI/WCAG21/quickref/#status-messages
tags: successcriterion
number: 4.1.3
permalink: sc/{{ number }}/index.html
---

{% include "discussions.njk" %}

