---
title: WCAG Audit Discussies in Nederland en Vlaanderen
layout: base.njk
---
<div class="block">
<h1>{{ title }}</h1>

<p>Deze website bevat Nederlandstalige discussies over hoe WCAG en de succescriteria te interpreteren en toe te passen.
Iedereen kan een probleem of vraag voorleggen door een <a href="https://github.com/WCAG-Audit-Discussions/NL-BE/issues">issue te openen</a>.</p>
</div>

{% include "successcriteria.njk" %}


