---
title: WCAG Audit Discussies in Nederland en Vlaanderen
layout: base.njk
---
{# index.jnk, uses _includes/base.njk as main template #}

<div class="block">

	<h1>{{ title }}</h1>

	<p>Deze website bevat Nederlandstalige discussies over hoe WCAG en de succescriteria te interpreteren en toe te passen. Iedereen kan een probleem of vraag voorleggen door een <a href="https://github.com/WCAG-Audit-Discussions/NL-BE/issues">issue te openen</a>.</p>

</div>

{# Create a list of links to the discussions, per success criteria #}
{% include "successcriteria.njk" %}
